.Library {
    width: calc(100% - 300px);
    background-color: #1a1a1a;
    color: white;
    overflow: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}