.Header {
    color: white;
    background-color: #24292e;
    text-align: center;
    border-bottom: 5px solid #1b8230;
    height: 80px;

    h1 {
        margin: 0;
        padding: 15px;
        letter-spacing: 20px;
        word-spacing: 10px;
        font-size: 2.5em;
    }
}