.LeftPanel {
    width: 300px;
    background-color: #24292e;
    color: white;
    border-right: 5px solid #1b8230;
    overflow-y: auto;

    h2 {
        margin: 0;
        padding: 15px;
    }
}